* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}

body {
    background-image: linear-gradient(to bottom, transparent 100%, rgb(0,0,0) 100%), url(./img/Adobe\ back.jpeg);
    background-size: cover;
    background-color: #191919;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%, rgba(10,12,16,0.7) 50%, rgba(10,12,16,0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;

}

.portfolio {
    color: #ffffff;
    font-size: 27px;
    margin-left: 10%;
}

.portfolio span {
    color: #0097b2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    
}

ul {
    display: flex;
    gap: 15px;
}
li {
    display: inline-block;
    
}

li a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

li a:hover{
    color: #0097b2;
    transition: 0.5s;
}

.caixa-principal {
    display: flex;
    width: 95vw;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;    
}

.meu-nome {
    width: 50%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.meu-nome h1 {
    color: #ffffff;
    font-size: 60px;
}
  
.meu-nome h1 span {
    color: #0097b2;
}

.meu-nome h3 {
    color: #ffffff;
    font-size: 23px; 
    margin: 18px 0 35px 5px;
}

.meu-nome button {
    color: #ffffff;
    background: #0097b2;
    height: 30px;
    width: 125px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.meu-nome button:hover{
    background-color: #191919;
    border: 3px solid #0097b2;
    transition: 0.5s;
}

.logo-pc {
    height: 300px;
}

section {
    display: flex;
    align-items: center;
    padding: 170px 20% 120px;
  
}

section img {
    height: 260px;
    border-radius: 100%;
    border: 7px solid #0097b2;
    margin-right: 40px;
}

section div h2 {
    color: #ffffff;
    font-size: 50px;
}

section div p {
    color: #f3e7e7e5;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.projetos {
       padding-top: 80px;
    padding-bottom: 120px;
     
}

.projetos h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}

.card {
    background-color: #000;
    height: 270px;
    width: 240px;
    border-radius: 20px;
    padding: 17px 35px;
    text-align: center;
    }

.card img {
    height: 60px;
    

}

.card h5 {
    color: white;
    font-size: 20px;
    padding-top: 10px;

}

.card p {
    color: #f3e7e7e5;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 15px;

}

.card a {
    background-color: #0097b2;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-size: 12px;
    
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #0097b2;
}

.card-projetos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

footer {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 25px;
}

footer p {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 25px;
    border-radius: 50%;
}

.social a {
    background-color: #0097b2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: #191919;
    border: 1px solid #0097b2;
}